div.gridsquare {
	float:left;
	margin:5px;
	border:thin solid black;
	width:6em;
	height:5ex;
}

div.eliminated {
	display:none;
}

div.gridcolumnheader {
	float:left;
	margin:5px;
	width:6em;
	height:5ex
}

div.gridrowheader {
	float:left;
	margin:5px;
	width:6em;
	height:5ex
}

span.gridcontent {
	display:none;
}

span.showcontent {
	display:inline;
	overflow:hidden;
}

span.gridheader {
	
}
