div.gridsquare {
	float:left;
	margin:5px;
	border:thin solid black;
	width:7em;
	height:8ex;
	vertical-align:center;
	text-align:center;
}

div.eliminated {
	display:none;
}

div.gridcolumnheader {
	float:left;
	margin:5px;
	width:7em;
	height:5ex;
	vertical-align:center;
	text-align:center;
}

div.gridrowheader {
	float:left;
	margin:5px;
	width:7em;
	height:5ex;
	vertical-align:center;
	text-align:center;
}

span.gridcontent {
	display:none;
}

span.showcontent {
	display:inline;
	overflow:hidden;
}

span.gridheader {
	
}
